Package: mjpg-streamer
Version: r182-1
Depends: libc, libpthread, libjpeg
Source: feeds/packages/multimedia/mjpg-streamer
License: GPL-2.0
Section: multimedia
Maintainer: Roger D <rogerdammit@gmail.com>
Architecture: ramips_24kec
Installed-Size: 37082
Description:  Streaming application for Linux-UVC compatible webcams
